{% if hasToBe is not defined %}
    {% set hasToBe = 'h3' %}
{% endif %}

<div class="block xl:w-1/3 md:w-1/2 w-full px-4 py-6 group">
    <a href="{{ path('app_article', {slug: article.slug}) }}"
       class="
        block rounded-2xl relative
        focus:outline-none focus-visible:ring-2
        before:z-[-1] before:absolute before:transition before:duration-200 before:rounded-lg before:opacity-0 before:-inset-0.5 before:bg-gradient-to-br before:from-swipe-400 before:to-swipe-600 before:blur-md
        group-hover:before:opacity-75
    ">
        <img class="rounded-3xl w-full aspect-square object-cover object-center mb-6"
             src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="content">
    </a>

    <div class="text-gray-300 text-base mb-4">
        {% for category in article.categories %}
            <a class="hover:underline" href="{{ path('app_category', {slug: category.slug}) }}">{{ category.name }}</a>
            {% if not loop.last %}
                <span> • </span>
            {% endif %}
        {% endfor %}
    </div>

    <a href="{{ path('app_article', {slug: article.slug}) }}"
       class="w-min">
        {% if hasToBe == 'h2' %}
            <h2 class="text-xl md:text-3xl text-gray-200 group-hover:text-swipe-600 font-bold title-font">{{ article.title }}</h2>
        {% else %}
            <h3 class="text-xl md:text-3xl text-gray-200 group-hover:text-swipe-600 font-bold title-font">{{ article.title }}</h3>
        {% endif %}
    </a>
    <p class="leading-relaxed text-base text-gray-400 mt-2">{{ article.createdAt|date('d F') }}</p>
</div>