<header
        {{ stimulus_controller('dropdown', {
            hiddenClass: 'hidden',
        }) }}
        id="mobile-menu"
        class="backdrop-blur-[10px] bg-transparent px-2 sm:px-4 py-2.5 fixed w-full top-0 z-50"
>
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="{{ path('app_homepage') }}" class="-m-1.5 p-1.5">
                <span class="sr-only">SwipeUp</span>
                <img class="h-8 w-auto" src="{{ asset('swipeup.png') }}"
                     alt="SwipeUp, votre atout pour une présence en ligne puissante et optimisée à l'ère du mobile">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button
                    {{ stimulus_action('dropdown', 'dropdown') }}
                    type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-200"
            >
                <span class="sr-only">Ouvrir le menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="{{ path('app_swipe_create') }}" class="text-sm font-semibold leading-6 text-white">
                Link-in-bio (SwipeUp)
            </a>
            <a href="{{ path('app_urlshortener_createurlshortener') }}" class="text-sm font-semibold leading-6 text-white">
                Réducteur de lien
            </a>
            <a href="{{ path('app_qrcode_createqrcode') }}" class="text-sm font-semibold leading-6 text-white">
                Générateur de QR Code
            </a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-2">
            {% if app.user %}
                <div
                        {{ stimulus_controller('dropdown', {
                            hiddenClass: 'lg:hidden',
                        }) }}
                        id="user-menu"
                        class="relative"
                >
                    <button
                            {{ stimulus_action('dropdown', 'dropdown') }}
                            class="flex items-center text-sm font-medium rounded-full md:mr-0 text-white"
                            type="button"
                    >
                        <span class="sr-only">Ouvrir le menu de l'utilisateur</span>
                        <img class="w-8 h-8 mr-2 rounded-full" src="{{ asset('assets/images/default_avatar.jpg') }}"
                             alt="{{ app.user.username }}">
                        {{ app.user.username }}
                        <svg
                                {{ stimulus_target('dropdown', 'icon') }}
                                class="w-2.5 h-2.5 ml-2.5 transform transition duration-300"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 10 6"
                        >
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div
                            {{ stimulus_target('dropdown', 'dropdown') }}
                            class="hidden lg:block lg:hidden absolute top-full overflow-hidden z-10 mt-3 bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
                            data-transition-enter-active="transition ease-out duration-300"
                            data-transition-enter-from="transform opacity-0 scale-95"
                            data-transition-enter-to="transform opacity-100 scale-100"
                            data-transition-leave-active="transition ease-in duration-300"
                            data-transition-leave-from="transform opacity-100 scale-100"
                            data-transition-leave-to="transform opacity-0 scale-95"
                    >
                        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                            <div class="font-medium">{{ app.user.username }}</div>
                            <div class="truncate">{{ app.user.email }}</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                            <li>
                                <a href="{{ path('app_swipe_create') }}"
                                   class="block px-4 py-2 hover:bg-gray-100">Créer
                                    un SwipeUp</a>
                                <a href="{{ path('app_user_admin_list') }}"
                                   class="block px-4 py-2 hover:bg-gray-100">Mes SwipeUps</a>
                            </li>
                        </ul>
                        <div class="py-2">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin') }}"
                                   data-turbo="false"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Administration du
                                    site</a>
                            {% endif %}
                            <a href="{{ path('app_logout') }}"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Se déconnecter</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="self-center text-sm font-semibold leading-6 text-white rounded-lg border-2 border-swipe-500 hover:border-swipe-600 px-6 py-3">
                    Se connecter
                </a>
                <a href="{{ path('app_register') }}"
                   class="self-center text-sm font-semibold leading-6 text-white rounded-lg bg-gradient-to-tr from-swipe-900 to-swipe-400 hover:to-swipe-500 focus:to-swipe-600 px-6 py-3">
                    S'inscrire <span aria-hidden="true">&rarr;</span>
                </a>
            {% endif %}
        </div>
    </nav>
    <div
            {{ stimulus_target('dropdown', 'dropdown') }}
            id="mobile-menu"
            class="hidden lg:hidden"
            role="dialog"
            aria-modal="true"
    >
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full h-dvh overflow-y-auto bg-black px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="{{ path('app_homepage') }}" class="-m-1.5 p-1.5">
                    <span class="sr-only">SwipeUp</span>
                    <img class="h-8 w-auto" src="{{ asset('swipeup.png') }}"
                         alt="SwipeUp, votre atout pour une présence en ligne puissante et optimisée à l'ère du mobile">
                </a>
                <button
                        {{ stimulus_action('dropdown', 'dropdown') }}
                        type="button"
                        class="-m-2.5 rounded-md p-2.5 text-gray-200">
                    <span class="sr-only">Fermer le menu</span>
                    <svg
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a href="{{ path('app_swipe_create') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">
                            Link-in-bio (SwipeUp)
                        </a>
                        <a href="{{ path('app_urlshortener_createurlshortener') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">
                            Réducteur de lien
                        </a>
                        <a href="{{ path('app_qrcode_createqrcode') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50">
                            Générateur de QR Code
                        </a>
                    </div>
                    <div class="py-6">
                        {% if app.user %}
                            <a href="{{ path('app_swipe_create') }}"
                               class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-50">Créer
                                un SwipeUp</a>
                            <a href="{{ path('app_user_admin_list') }}"
                               class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-50">Mes
                                SwipeUp</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin') }}"
                                   data-turbo="false"
                                   class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-50">Administration
                                    du site</a>
                            {% endif %}
                            <a href="{{ path('app_logout') }}"
                               class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-50">Se
                                déconnecter</a>
                        {% else %}
                            <a href="{{ path('app_login') }}"
                               class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-50">
                                Se connecter
                            </a>
                            <a href="{{ path('app_register') }}"
                               class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-50">
                                S'inscrire <span aria-hidden="true">&rarr;</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>