<!-- NAVBAR -->
<nav class="backdrop-blur-[10px] bg-gradient-to-b from-swipe-500/20 to-swipe-500/0 px-2 sm:px-4 py-2.5 fixed w-full top-0 z-50">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="{{ path('app_homepage') }}" class="flex items-center">
            <img src="{{ asset('swipeup.png') }}" class="mr-3 h-6 sm:h-9" alt="Logo de SwipeUp">
            <span class="sr-only">SwipeUp</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false"
                onclick="dropdown('navbar-default')">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    <a href="{{ path('app_homepage') }}"
                       class="block py-2 pr-4 pl-3 text-white bg-white/50 rounded md:bg-transparent md:p-0"
                       aria-current="page">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('app_homepage') }}#presentation"
                       class="block py-2 pr-4 pl-3 text-gray-300 md:p-0">
                        Présentation de la solution</a>
                </li>
                <li>
                    <a href="{{ path('app_homepage') }}#offres"
                       class="block py-2 pr-4 pl-3 text-gray-300 md:p-0">
                        Nos offres</a>
                </li>
                {% if app.user %}
                    {#                    <li> #}
                    {#                        <a href="{{ path('app_login') }}" #}
                    {#                           class="block py-2 pr-4 pl-3 text-swipe-300 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-swipe-400 md:p-0 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"> #}
                    {#                            Mon profil</a> #}
                    {#                    </li> #}
                    <li>
                        <a href="{{ path('app_logout') }}"
                           class="block py-2 pr-4 pl-3 text-swipe-300 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-swipe-400 md:p-0 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                            Se déconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_login') }}"
                           class="block py-2 pr-4 pl-3 text-swipe-300 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-swipe-400 md:p-0 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                            Se connecter</a>
                    </li>
                    <li>
                        <a href="{{ path('app_register') }}"
                           class="block py-2 pr-4 pl-3 text-swipe-300 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-swipe-400 md:p-0 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                            S'inscrire</a>
                    </li>

                {% endif %}
                {#                <li> #}
                {#                    <a href="#" #}
                {#                       class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"> #}
                {#                        Blog</a> #}
                {#                </li> #}
            </ul>
        </div>
    </div>

    <!-- ALERT -->
    {% if app.user and app.user.isVerified == false %}
        <div class="backdrop-blur-[10px] mx-auto container rounded-full border border-red-600 bg-red-600/20 text-red-500 text-center px-6 py-2 mt-4">
            <p>Vous n'avez pas vérifié votre adresse mail, vous n'avez pas accès à toutes les fonctionnalités de
                SwipeUp</p>
        </div>
    {% endif %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}

            {% if type == 'danger' %}
                {% set type = 'red' %}
            {% elseif type == 'notice' %}
                {% set type = 'orange' %}
            {% else %}
                {% set type = 'teal' %}
            {% endif %}

            {# Created div to deploy classes for webpack #}
            <div class="hidden border-red-600 bg-red-600/20 text-red-500"></div>
            <div class="border-orange-600 bg-orange-600/20 text-orange-500"></div>
            <div class="border-teal-600 bg-teal-600/20 text-teal-500"></div>


            <div class="backdrop-blur-[10px] mx-auto container rounded-full border border-{{ type }}-600 bg-{{ type }}-600/20 text-{{ type }}-500 text-center px-6 py-2 mt-4">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
    <!-- ALERT -->
</nav>
<!-- NAVBAR -->

<script>
    function dropdown(id) {
        const dropdown = document.getElementById(id);
        dropdown.classList.toggle('hidden');
    }
</script>