{% extends 'admin.html.twig' %}

{% block body %}
    <section class="font-light sm:text-xl text-white body-font">
        <div class="mx-auto max-w-screen-2xl py-24 md:py-36">
            <div class="opacity-75 fixed inset-0 -z-[1] overflow-hidden blur-[100px] select-none pointer-events-none">
                <div class="top-2/5 left-3/5 w-[700px] h-[700px] -z-[2] bg-swipe-100 absolute rounded-full opacity-60 ease-gradient animate-gradient-1"></div>
                <div class="top-3/5 left-2/5 w-[600px] h-[600px] -z-[1] bg-swipe-500 absolute rounded-full opacity-60 ease-gradient animate-gradient-2"></div>
                <div class="top-1/2 left-1/2 w-[500px] h-[500px] -z-[3] bg-swipe-900 absolute rounded-full opacity-60 ease-gradient animate-gradient-3"></div>
            </div>

            <div class="py-12 mx-auto space-y-16">
                <h1 class="mx-auto text-4xl sm:text-5xl font-semibold lg:text-6xl text-center">
                    Modifier mon profil
                </h1>

                {{ form_start(form, {
                    class: "space-y-8 divide-y divide-gray-200",
                }) }}
                <div class="space-y-8 divide-y divide-gray-200">
                    <div>
                        <div>
                            <h2 class="text-lg font-medium leading-6 text-white">Informations personnelles</h2>
                            <p class="mt-1 text-sm text-gray-400">
                                Utilisez une adresse mail où vous pouvez recevoir des emails.
                            </p>
                        </div>
                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6 text-black">
                            <div class="sm:col-span-3">
                                {{ form_row(form.username, {
                                    'label_attr': {
                                        'class': 'block text-sm font-medium text-gray-300'
                                    },
                                    'attr': {
                                        'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-swipe-500 focus:ring-swipe-500 sm:text-sm'
                                    },
                                }) }}
                            </div>

                            <div class="sm:col-span-4">
                                {{ form_row(form.email, {
                                    'label_attr': {
                                        'class': 'block text-sm font-medium text-gray-300'
                                    },
                                    'attr': {
                                        'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-swipe-500 focus:ring-swipe-500 sm:text-sm',
                                        'value': app.user.email,
                                    },
                                }) }}
                            </div>
                        </div>
                    </div>

                    <div class="pt-8">
                        <div>
                            <h2 class="text-lg font-medium leading-6 text-white">Notifications</h2>
                            <p class="mt-1 text-sm text-gray-400">
                                Nous vous enverrons des notifications par email lorsque quelque chose d'important se
                                produit.
                            </p>
                        </div>
                        <div class="mt-6">
                            <div class="mt-4 space-y-4">
                                <div class="relative flex items-start">
                                    <div class="flex h-5 items-center">
                                        {{ form_widget(form.newsletter, {
                                            'attr': {
                                                'class': 'h-4 w-4 rounded border-gray-300 text-swipe-600 focus:ring-swipe-500',
                                            },
                                        }) }}
                                    </div>
                                    <div class="ml-3 text-sm">
                                        {{ form_label(form.newsletter, null, {
                                            'label_attr': {
                                                'class': 'font-medium text-gray-300',
                                            }
                                        }) }}
                                        <p class="text-gray-400">
                                            Recevez des notifications par email concernant les dernières
                                            actualités de SwipeUp.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-8">
                        <div>
                            <h2 class="text-lg font-medium leading-6 text-white">Supprimer mes données</h2>
                            <p class="mt-1 text-sm text-gray-400">
                                Vous pouvez supprimer toutes vos données personnelles en cliquant sur le bouton
                                ci-dessous.
                            </p>
                        </div>
                        <div class="mt-6">
                            <div class="mt-4 space-y-4">
                                <div class="relative flex items-start">
                                    <a
                                            {{ stimulus_controller('confirm-submit', {
                                                title: 'Supprimer mes données',
                                                text: 'Êtes-vous sûr de vouloir supprimer toutes vos données ?',
                                                icon: 'warning',
                                                confirmationButtonText: 'Oui, supprimer',
                                                submitAsync: true,
                                                url: path('_api_delete_data'),
                                            }) }}
                                            {{ stimulus_action('confirm-submit', 'onSubmit') }}
                                            href="{{ path('_api_delete_data') }}"
                                            class="inline-flex justify-center rounded-md border border-red-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-600/20 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
                                        Supprimer toutes mes données
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-5">
                    <div class="flex justify-end">
                        <button type="submit"
                                class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-swipe-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-swipe-700 focus:outline-none focus:ring-2 focus:ring-swipe-500 focus:ring-offset-2">
                            Sauvegarder
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}
    Modifier mon profil
{% endblock %}

