{% extends 'base.html.twig' %}

{% block subTitle %}Tous les articles de {{ category.name }} | {% endblock %}

{% block schema %}
    <!-- Schema.org JSON-LD -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Blog",
            "url": "{{ url('app_category', {slug: category.slug}) }}",
                "name": "Tous les articles de {{ category.name }}",
                "headline": "Les dernières actus, les astuces et les conseils pour réussir votre transformation digitale",
                "description": "",
                "publisher": {
                    "@type": "Organization",
                    "name": "SwipeUp",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "{{ app.request.schemeAndHttpHost }}{{ asset('swipeup.png') }}"
                    }
                },
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "{{ url('app_blog') }}"
                  }
            }
    </script>
{% endblock %}

{% block breadcrumb %}
    <!-- Schema.org JSON-LD -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "SwipeUp",
                "item": "{{ url('app_homepage') }}"
            },{
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "{{ url('app_blog') }}"
            },{
                "@type": "ListItem",
                "position": 3,
                "name": "{{ category.name }}",
                "item": "{{ url('app_category', {slug: category.slug}) }}"
            }]
        }

    </script>
{% endblock %}

{% block body %}
    <div class="py-24 sm:py-32 lg:py-40">
        <div class="mx-auto max-w-screen-2xl px-6 lg:px-8">
            <div class="sm:text-center">
                <h1 class="text-lg font-semibold leading-8 text-swipe-500 uppercase"><span
                            class="sr-only">Catégorie : </span>{{ category.name }}</h1>
                <p class="mt-2 text-3xl font-bold tracking-tight text-gray-200 sm:text-4xl">
                    Catégorie : {{ category.name }}</p>
            </div>

            <div class="mt-20">
                {% if posts|length > 0 %}
                    <div class="space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-base md:text-center font-semibold leading-8 text-swipe-500">
                                Articles de blog</h2>
                            <div class="h-0.5 w-24 sm:w-48 relative bg-swipe-500/50 sm:mx-auto"></div>
                        </div>
                        <div class="relative space-y-8">
                            <div class="flex flex-wrap -m-4 justify-center">
                                {% for article in posts %}
                                    {{ include('_includes/article_modal.html.twig', {hasToBe: 'h3'}) }}
                                {% endfor %}
                            </div>

                            <nav aria-label="Pagination" class="flex justify-center">
                                {{ knp_pagination_render(posts) }}
                            </nav>
                        </div>
                    </div>
                {% else %}
                    <p class="text-lg text-gray-200 font-medium title-font mb-4 text-center">Il
                        n'y a rien à afficher sur cette catégorie pour le moment</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
