{% extends 'base.html.twig' %}

{% block body %}
    <div class="absolute inset-0 overflow-hidden h-[50dvh]">
        <div class="jumbo absolute -inset-[10px] bg-rainbow blur-md opacity-25 saturate-200 bg-300-200 bg-50_4 pointer-events-none after:content-[''] after:absolute after:inset-0 after:bg-rainbow after:bg-200-100 after:animate-jumbo after:bg-fixed after:mix-blend-difference"></div>
    </div>

    <section class="font-light sm:text-xl text-gray-300 body-font">
        <div class="container mx-auto flex px-4 lg:px-6 md:flex-row flex-col items-center py-12">
            <div
                    class="font-body text-white leading-relaxed px-4 py-24 md:py-48 z-10 relative mx-auto"
                    data-aos="fade-up"
                    data-aos-duration="750"
            >
                <div class="relative hidden md:block">
                    <div data-aos="fade-down-right"
                         data-aos-delay="200"
                         data-aos-duration="500"
                    >
                        <img
                                src="{{ asset('assets/images/movie-camera_1f3a5.png') }}"
                                alt="Caméra de cinéma"
                                class="w-24 absolute rotate-12 hover:-rotate-12 transition-rotate duration-200 top-[-2rem] left-[-2rem]"
                        >
                    </div>
                    <div data-aos="fade-down-left"
                         data-aos-delay="300"
                         data-aos-duration="500"
                    >
                        <img
                                src="{{ asset('assets/images/ringed-planet_1fa90.png') }}"
                                alt="Saturne"
                                class="w-24 absolute -rotate-12 hover:-rotate-45 transition-rotate duration-200 top-40 md:right-2 lg:-right-8"
                        >
                    </div>
                    <div data-aos="fade-up-right"
                         data-aos-delay="400"
                         data-aos-duration="500"
                    >
                        <img
                                src="{{ asset('assets/images/rocket_1f680.png') }}"
                                alt="Fusée allant dans l'espace"
                                class="w-24 absolute hover:-rotate-12 transition-rotate duration-200 top-96 md:left-0 lg:left-12"
                        >
                    </div>
                </div>
                <div class="text-center space-y-8">
                    <h1 class="mx-auto max-w-4xl text-4xl sm:text-6xl font-bold lg:text-7xl text-white">
                        Sur combien de <span
                                class="font-black text-transparent bg-clip-text bg-gradient-to-tr from-swipe-300 to-swipe-600">liens</span>
                        cliquez-vous sans vous souvenir ?
                    </h1>
                    <p class="max-w-xl mx-auto mt-6 text-gray-200">
                        Seuls les créatifs comptent. Faites de votre bio avec Swipe Up le lien que l'on n'oublie pas
                        !
                    </p>
                    <form
                            {{ stimulus_controller('search-preview', {
                                url: path('_api_swipeup-name_search')
                            }) }}
                            method="get"
                            action="{{ path('app_register') }}"
                            class="flex flex-wrap gap-2 items-center justify-center"
                    >
                        <div class="border border-neutral-700 rounded-2xl">
                            <div
                                    {{ stimulus_target('search-preview', 'result') }}
                                    class="bg-transparent flex rounded-2xl max-w-screen-sm relative py-4 px-3 text-lg text-gray-200 border-4 border-transparent"
                            >
                                <p class="min-w-fit">swipeup.me/@</p>
                                <label>
                                    <input
                                            {{ stimulus_target('search-preview', 'input') }}
                                            type="text"
                                            name="swipeup_create"
                                            placeholder="ToTheMoon"
                                            class="bg-transparent text-lg border-none focus:ring-0 focus:outline-none w-full overflow-x-hidden p-0 m-0 mr-2"
                                            required>
                                </label>
                                <button aria-label="Créer mon SwipeUp"
                                        class="ml-4 p-1 self-center bg-gradient-to-tr from-swipe-300 to-swipe-500 rounded-full hover:from-swipe-200 hover:to-swipe-400 focus:outline-none focus:from-swipe-400 focus:to-swipe-600">
                                    {{ heroicon('chevron-right', 'solid', {
                                        'class': 'w-6 h-6 text-swipe-950'
                                    }) }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="px-4 lg:px-6 bg-swipe-950">
        <div data-aos="fade-down"
             data-aos-duration="1000"
             data-aos-easing="ease-in-out-back"
             data-aos-once="true"
        >
            <div class="mx-auto max-w-screen-lg space-y-6 py-12 text-white text-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold">Un concept innovant</h2>
                <p class="text-gray-300 font-light sm:text-xl">
                    Rejoignez des millions de créateurs pour simplifier votre présence en ligne avec notre lien en bio.
                    Un espace unique pour partager tout ce que vous créez, publiez, produisez et vendez sur :
                </p>
                <div class="flex flex-wrap items-center justify-evenly gap-y-6 max-w-md md:max-w-screen-lg mt-20 mx-auto">
                    <div class="basis-1/3 sm:basis-1/4 md:basis-[15%]">
                        <img class="object-contain grayscale max-h-24 w-full opacity-100 p-4"
                             src="{{ asset('assets/images/youtube_logo.svg') }}"
                             alt="YouTube">
                    </div>
                    <div class="basis-1/3 sm:basis-1/4 md:basis-[15%]">
                        <img class="object-contain grayscale invert max-h-24 w-full opacity-100 p-4"
                             src="{{ asset('assets/images/instagram_logo.svg') }}"
                             alt="Instagram">
                    </div>
                    <div class="basis-1/3 sm:basis-1/4 md:basis-[15%]">
                        <img class="object-contain grayscale invert max-h-24 w-full opacity-100 p-4"
                             src="{{ asset('assets/images/TikTok_Logo.svg') }}"
                             alt="TikTok">
                    </div>
                    <div class="basis-1/3 sm:basis-1/4 md:basis-[15%]">
                        <img class="object-contain grayscale max-h-24 w-full opacity-100 p-4"
                             src="{{ asset('assets/images/Snapchat_logo.svg') }}"
                             alt="Snapchat">
                    </div>
                    <div class="basis-1/3 sm:basis-1/4 md:basis-[15%]">
                        <img class="object-contain grayscale max-h-24 w-full opacity-100 p-4"
                             src="{{ asset('assets/images/twitch_logo.svg') }}"
                             alt="Twitch">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-right"
             id="swipes"
             class="py-8 mx-auto max-w-screen-xl lg:py-16 px-4 lg:px-6 text-gray-400">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Quelques exemples de SwipeUp</h2>
        </div>
        <div class="mt-20">
            <div class="relative">
                <div class="rounded-lg overflow-hidden">
                    <div
                            {{ stimulus_controller('diapo') }}
                            class="swiper-container"
                    >
                        <div class="swiper-wrapper">
                            {% for key, swipeup in swipeups %}
                                <div class="swiper-slide">
                                    <div data-aos="fade-up"
                                         data-aos-delay="{{ 200*(key) }}">
                                        <a href="{{ path('app_swipeup_single', {slug:swipeup.slug}) }}"
                                           target="_blank"
                                           class="relative group"
                                           tabindex="-1">
                                            <img src="{{ vich_uploader_asset(swipeup.swipes[0].background, swipeup.swipes[0].background.thumbnailName ? 'thumbnailFile' : 'backgroundFile')|imagine_filter('swipeup_thumbnail') }}"
                                                 alt="{{ swipeup.description }}"
                                                 width="10px"
                                                 class="px-0 rounded-lg max-w-[180px] w-[180px] h-[320px] object-center object-cover mx-auto"/>
                                            <div class="px-4 py-3 text-center w-full">
                                                <h3 class="truncate font-semibold text-indigo-700 group-hover:text-indigo-800 duration-100">
                                                    {{ swipeup.title }}
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="px-4 lg:px-6 bg-swipe-950">
        <div data-aos="fade-right"
             data-aos-duration="1000"
             data-aos-easing="ease-in-out-back"
             data-aos-once="true"
        >
            <div class="mx-auto max-w-screen-lg space-y-6 py-12 text-white text-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold">Vous êtes à un clic de votre SwipeUp !</h2>
                <p class="text-gray-300 font-light sm:text-xl">
                    Rejoignez des millions de créateurs pour simplifier votre présence en ligne avec notre lien en bio.
                </p>
                <form
                        {{ stimulus_controller('search-preview', {
                            url: path('_api_swipeup-name_search')
                        }) }}
                        method="get"
                        action="{{ path('app_register') }}"
                        class="flex flex-wrap gap-2 items-center justify-center"
                >
                    <div class="border border-neutral-400 rounded-2xl">
                        <div
                                {{ stimulus_target('search-preview', 'result') }}
                                class="bg-transparent rounded-2xl flex max-w-screen-sm relative py-4 px-3 text-lg text-gray-100 border-4 border-transparent"
                        >
                            <p class="min-w-fit">swipeup.me/@</p>
                            <label>
                                <input
                                        {{ stimulus_target('search-preview', 'input') }}
                                        type="text"
                                        name="swipeup_create"
                                        placeholder="ToTheMoon"
                                        class="bg-transparent text-lg border-none focus:ring-0 focus:outline-none w-full overflow-x-hidden p-0 m-0 mr-2"
                                        required>
                            </label>
                            <button aria-label="Créer mon SwipeUp"
                                    class="ml-4 p-1 self-center bg-gradient-to-tr from-swipe-300 to-swipe-500 rounded-full hover:from-swipe-200 hover:to-swipe-400 focus:outline-none focus:from-swipe-400 focus:to-swipe-600">
                                {{ heroicon('chevron-right', 'solid', {
                                    'class': 'w-6 h-6 text-swipe-950'
                                }) }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}