{% extends 'base.html.twig' %}

{% block body %}
    <section class="font-light sm:text-xl text-gray-300 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div class="opacity-75 absolute inset-0 -z-[1] overflow-hidden blur-[100px] select-none pointer-events-none">
                <div class="top-2/5 left-3/5 w-[700px] h-[700px] -z-[2] bg-swipe-100 absolute rounded-full opacity-60 ease-gradient animate-gradient-1"></div>
                <div class="top-3/5 left-2/5 w-[600px] h-[600px] -z-[1] bg-swipe-500 absolute rounded-full opacity-60 ease-gradient animate-gradient-2"></div>
                <div class="top-1/2 left-1/2 w-[500px] h-[500px] -z-[3] bg-swipe-900 absolute rounded-full opacity-60 ease-gradient animate-gradient-3"></div>
            </div>

            <div data-aos="fade-right"
                 class="md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font text-5xl sm:text-6xl mb-4 font-medium text-white">
                    Rapprochez vous de vos clients en un <span
                            class="font-black text-transparent bg-clip-text bg-gradient-to-tr from-swipe-900 to-swipe-100">Swipe</span>
                    !
                </h1>
                <p class="mb-8 leading-relaxed">La SEULE solution de création et de référencement de site web adapté à
                    notre temps. Vous comprendre ne prendra que très peu de temps avec SwipeUp. <br>Essayez-le
                    maintenant !</p>
                <div class="flex flex-col gap-4 lg:flex-row justify-center">
                    <button class="text-center inline-flex text-white bg-gradient-to-tr from-swipe-900 to-swipe-400 border-0 py-2 px-6 focus:outline-none rounded text-lg">
                        Commencer à Swiper
                    </button>
                    <button class="text-center ml-4 inline-flex text-gray-300 border-0 py-2 px-6 focus:outline-none rounded text-lg">
                        <span class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 512 512"
                            >
                            <path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM176 168V344C176 352.7 180.7 360.7 188.3 364.9C195.8 369.2 205.1 369 212.5 364.5L356.5 276.5C363.6 272.1 368 264.4 368 256C368 247.6 363.6 239.9 356.5 235.5L212.5 147.5C205.1 142.1 195.8 142.8 188.3 147.1C180.7 151.3 176 159.3 176 168V168z"/>
                        </svg>
                            <span>Voir une démo</span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <video class="object-cover object-center rounded"
                       autoplay
                       loop
                       muted
                       src="{{ asset('assets/videos/design-hero.webm') }}">
                </video>
            </div>
        </div>
    </section>
    <section data-aos="fade-right"
             id="presentation"
             class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 text-gray-400">
        <div class="max-w-xl mb-10 mx-auto text-center lg:max-w-2xl md:mb-12">
            <div>
                <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider uppercase rounded-full text-white bg-gradient-to-tr from-swipe-900 to-swipe-400">
                    Nouveauté
                </p>
            </div>
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto">
              <span class="relative inline-block">
                <svg viewBox="0 0 52 24" fill="currentColor"
                     class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
                  <defs>
                    <pattern id="fdca20a0-aeb4-4caf-ba1b-4351eee42363" x="0" y="0" width=".135" height=".30">
                      <circle cx="1" cy="1" r=".7"></circle>
                    </pattern>
                  </defs>
                  <rect fill="url(#fdca20a0-aeb4-4caf-ba1b-4351eee42363)" width="52" height="24"></rect>
                </svg>
                <span class="relative">Un</span>
              </span>
                solution authentique pour évoluer efficacement
            </h2>
            <p class="font-light sm:text-xl">
                Préservez la planète en utilisant notre système de Swipe écologique !
            </p>
        </div>
        <div class="grid max-w-md gap-8 row-gap-10 sm:mx-auto lg:max-w-full lg:grid-cols-3 text-gray-300">
            <div class="flex flex-col sm:flex-row">
                <div class="sm:mr-4">
                    <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-12 h-12 text-swipe-500"
                             stroke="currentColor"
                             viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M288 32c0 17.7 14.3 32 32 32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H352c53 0 96-43 96-96s-43-96-96-96H320c-17.7 0-32 14.3-32 32zm64 352c0 17.7 14.3 32 32 32h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H384c-17.7 0-32 14.3-32 32zM128 512h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H160c17.7 0 32 14.3 32 32s-14.3 32-32 32H128c-17.7 0-32 14.3-32 32s14.3 32 32 32z"/>
                        </svg>
                    </div>
                </div>
                <div>
                    <h3 class="mb-2 font-semibold leading-5">L'audiovisuel : l'oxygène de SwipeUp</h3>
                    <p class="mb-3 text-sm text-gray-400">
                        Dynamise vote SwipeUp en utilisant de l'audiovisuel pour une expérience immersive
                    </p>
                    <ul class="mb-4 -ml-1 space-y-2">
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Immersif et interactif
                        </li>
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Dynamise la présentation
                        </li>
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Expérience utilisateur enrichissante
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row">
                <div class="sm:mr-4">
                    <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-12 h-12 text-swipe-500"
                             stroke="currentColor"
                             viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3C140.6 6.8 151.7 0 163.8 0zM32 128H416L394.8 467c-1.6 25.3-22.6 45-47.9 45H101.1c-25.3 0-46.3-19.7-47.9-45L32 128zm192 64c-6.4 0-12.5 2.5-17 7l-80 80c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V408c0 13.3 10.7 24 24 24s24-10.7 24-24V273.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-4.5-4.5-10.6-7-17-7z"/>
                        </svg>
                    </div>
                </div>
                <div>
                    <h3 class="mb-2 font-semibold leading-5">Tunnel d'acquisition client performant</h3>
                    <p class="mb-3 text-sm text-gray-400">
                        Améliore la conversion avec des fonctionnalités de suivi automatisées
                    </p>
                    <ul class="mb-4 -ml-1 space-y-2">
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Création simplifiée
                        </li>
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Ciblage précis
                        </li>
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Adapté à tous
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row">
                <div class="sm:mr-4">
                    <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-12 h-12 text-swipe-500"
                             stroke="currentColor"
                             viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M512 64c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 78.3 364 32 448 32h32c17.7 0 32 14.3 32 32zM0 128c0-17.7 14.3-32 32-32H64c123.7 0 224 100.3 224 224v32 96c0 17.7-14.3 32-32 32s-32-14.3-32-32V352C100.3 352 0 251.7 0 128z"/>
                        </svg>
                    </div>
                </div>
                <div>
                    <h3 class="mb-2 font-semibold leading-5">Impact environnemental minimal</h3>
                    <p class="mb-3 text-sm text-gray-400">
                        Nous minimisons l'impact environnemental de notre hébergement !
                    </p>
                    <ul class="mb-4 -ml-1 space-y-2">
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Projet énergies vertes
                        </li>
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Hébergement énergetique durable
                        </li>
                        <li class="flex items-start">
                            <span class="mr-1">
                                <svg class="w-5 h-5 mt-px text-swipe-500" stroke="currentColor"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path fill="currentColor"
                                          d="M287.9 0C297.1 0 305.5 5.25 309.5 13.52L378.1 154.8L531.4 177.5C540.4 178.8 547.8 185.1 550.7 193.7C553.5 202.4 551.2 211.9 544.8 218.2L433.6 328.4L459.9 483.9C461.4 492.9 457.7 502.1 450.2 507.4C442.8 512.7 432.1 513.4 424.9 509.1L287.9 435.9L150.1 509.1C142.9 513.4 133.1 512.7 125.6 507.4C118.2 502.1 114.5 492.9 115.1 483.9L142.2 328.4L31.11 218.2C24.65 211.9 22.36 202.4 25.2 193.7C28.03 185.1 35.5 178.8 44.49 177.5L197.7 154.8L266.3 13.52C270.4 5.249 278.7 0 287.9 0L287.9 0zM287.9 78.95L235.4 187.2C231.9 194.3 225.1 199.3 217.3 200.5L98.98 217.9L184.9 303C190.4 308.5 192.9 316.4 191.6 324.1L171.4 443.7L276.6 387.5C283.7 383.7 292.2 383.7 299.2 387.5L404.4 443.7L384.2 324.1C382.9 316.4 385.5 308.5 391 303L476.9 217.9L358.6 200.5C350.7 199.3 343.9 194.3 340.5 187.2L287.9 78.95z"/>
                                </svg>
                            </span> Éco-responsable
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up"
             id="offres"
             class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Découvrez nos offres</h2>
            <p class="mb-5 font-light sm:text-xl text-gray-400">Notre application vous offre des options flexibles pour
                répondre à vos besoins. Découvrez nos offres ci-dessous et choisissez celle qui convient le mieux à
                votre utilisation.</p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 xl:gap-10">
            <div data-aos="fade-up"
                 data-aos-delay="200"
                 class="w-full flex flex-col mx-auto max-w-lg text-center rounded-lg border shadow border-gray-600 text-white lg:order-none order-first relative">
                <div class="w-full absolute rounded-t p-2">
                    <a href="#"
                       class="inline-flex justify-between items-center py-1 px-1 pr-4 text-sm text-gray-200 border border-gray-400 rounded-full"
                       role="alert">
                        <span class="text-xs bg-swipe-600 rounded-full text-white px-4 py-1.5 mr-3">VENTE FLASH</span>
                        <span
                                class="text-sm font-medium">Profitez de cette offre !</span>
                        <svg class="ml-2 w-5 h-5"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>

                <div class="p-6 xl:p-8 mt-8 flex flex-col">
                    <h3 class="mb-4 text-2xl font-semibold">Basic</h3>
                    <p class="font-light sm:text-lg text-gray-400">La meilleure option pour une utilisation
                        personnelle.</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">0€</span>
                        <span class="text-gray-400">/mois</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <span class="w-5 h-5 text-center text-green-400">1</span>
                            <span>Pages</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <span class="w-5 h-5 text-center text-green-400">4</span>
                            <span>Sections</span>
                        </li>
                        <li class="flex items-baseline space-x-3">
                            <span class="w-5 h-5 text-center text-green-400">72h</span>
                            <span>Support</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Couleurs modifiable</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Titre modifiable</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Icône modifiable</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Nom de domaine personnalisé</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Shooting photo offert</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Désactiver le bandeau publicitaire</span>
                        </li>
                    </ul>
                    <a href="#"
                       class="border-2 border-white hover:bg-white font-medium rounded-lg text-sm px-5 py-2.5 text-center text-white hover:text-black">Commencer</a>
                </div>
            </div>
            <div data-aos="fade-up"
                 data-aos-delay="400"
                 class="w-full flex flex-col mx-auto max-w-lg text-center rounded-lg border-2 shadow border-swipe-600 text-white lg:order-none order-first relative">
                <div class="w-full absolute rounded-t bg-swipe-600 p-2">
                    <span class="text-center text-lg text-white">N°1 des ventes !</span>
                </div>
                <div class="p-6 xl:p-8 mt-8 flex flex-col">
                    <h3 class="mb-4 text-2xl font-semibold">Pro</h3>
                    <p class="font-light sm:text-lg text-gray-400">La meilleure option pour vos prochains projets
                        professionnels.</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">10€</span>
                        <span class="text-gray-400">/mois</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-baseline space-x-3">
                            <span class="w-5 h-5 text-center text-green-400">2</span>
                            <span>Pages</span>
                        </li>
                        <li class="flex items-baseline space-x-3">
                            <span class="w-5 h-5 text-center text-green-400">10</span>
                            <span>Sections</span>
                        </li>
                        <li class="flex items-baseline space-x-3">
                            <span class="w-5 h-5 text-center text-green-400">48h</span>
                            <span>Support</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor"
                                 viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Couleurs modifiable</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor"
                                 viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Titre modifiable</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Icône modifiable</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Nom de domaine personnalisé</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Shooting photo offert</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor"
                                 viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span>Désactiver le bandeau publicitaire</span>
                        </li>
                    </ul>
                    <a href="#"
                       class="border-2 border-swipe-500 bg-swipe-500 hover:bg-swipe-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center text-white">Commencer</a>
                </div>
            </div>
            <div data-aos="fade-up"
                 data-aos-delay="600"
                 class="w-full flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border shadow border-gray-600 xl:p-8 text-white">
                <h3 class="mt-8 mb-4 text-2xl font-semibold">Expert</h3>
                <p class="font-light sm:text-lg text-gray-400">La meilleure option pour créer l'avenir de votre
                    image
                    digitale.</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">Devis</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-baseline space-x-3">
                        <span class="w-5 h-5 text-center text-green-400">5</span>
                        <span>Pages</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-green-400"
                             fill="currentColor"
                             viewBox="0 0 640 512">
                            <path fill-rule="evenodd"
                                  d="M471.1 96C405 96 353.3 137.3 320 174.6 286.7 137.3 235 96 168.9 96 75.8 96 0 167.8 0 256s75.8 160 168.9 160c66.1 0 117.8-41.3 151.1-78.6 33.3 37.3 85 78.6 151.1 78.6 93.1 0 168.9-71.8 168.9-160S564.2 96 471.1 96zM168.9 320c-40.2 0-72.9-28.7-72.9-64s32.7-64 72.9-64c38.2 0 73.4 36.1 94 64-20.4 27.6-55.9 64-94 64zm302.2 0c-38.2 0-73.4-36.1-94-64 20.4-27.6 55.9-64 94-64 40.2 0 72.9 28.7 72.9 64s-32.7 64-72.9 64z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Sections</span>
                    </li>
                    <li class="flex items-baseline space-x-3">
                        <span class="w-5 h-5 text-center text-green-400">24h</span>
                        <span>Support</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Couleurs modifiable</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Titre modifiable</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Icône modifiable</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Nom de domaine personnalisé</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Shooting photo offert</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span>Désactiver le bandeau publicitaire</span>
                    </li>
                </ul>
                <a href="#"
                   class="border-2 border-white hover:bg-white font-medium rounded-lg text-sm px-5 py-2.5 text-center text-white hover:text-black">Commencer</a>
            </div>
        </div>
    </section>
{#    <section data-aos="fade-left"#}
{#             id="faq"#}
{#             class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 text-gray-400">#}
{#        <div class="max-w-xl mb-10 mx-auto text-center lg:max-w-2xl md:mb-12">#}
{#            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto">#}
{#                Vous avez des questions <span class="relative inline-block">#}
{#                <svg viewBox="0 0 52 24" fill="currentColor"#}
{#                     class="absolute top-0 right-0 z-0 hidden w-32 -mt-8 -mr-20 text-blue-gray-100 lg:w-32 lg:-mr-28 lg:-mt-10 sm:block">#}
{#                  <defs>#}
{#                    <pattern id="fdca20a0-aeb4-4caf-ba1b-4351eee42363" x="0" y="0" width=".135" height=".30">#}
{#                      <circle cx="1" cy="1" r=".7"></circle>#}
{#                    </pattern>#}
{#                  </defs>#}
{#                  <rect fill="url(#fdca20a0-aeb4-4caf-ba1b-4351eee42363)" width="52" height="24"></rect>#}
{#                </svg>#}
{#                <span class="relative">?</span>#}
{#              </span>#}
{#            </h2>#}
{#            <p class="font-light sm:text-xl">#}
{#                Notre équipe est là pour vous aider ! Si vous avez des questions sur notre application ou sur notre#}
{#                engagement écologique, n'hésitez pas à consulter notre section FAQ ci-dessous ou à nous contacter#}
{#                directement.#}
{#            </p>#}
{#        </div>#}
{#        <div class="max-w-xl sm:mx-auto lg:max-w-2xl space-y-4 text-gray-300">#}
{#            <div class="border-b">#}
{#                <button type="button" aria-label="Open item" title="Open item"#}
{#                        class="faq-button flex items-center justify-between w-full p-4 focus:outline-none">#}
{#                    <p class="text-lg font-medium">Comment fonctionne l'application ?</p>#}
{#                    <!-- Add "transform rotate-180" classes on svg, if is open" -->#}
{#                    <svg viewBox="0 0 24 24" class="w-3 text-gray-200 transition-transform duration-200">#}
{#                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"#}
{#                                  stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>#}
{#                    </svg>#}
{#                </button>#}
{#                <div class="faq-dropdown hidden p-4 pt-0">#}
{#                    <p class="text-gray-400">Notre application permet de naviguer facilement à travers les différents#}
{#                        liens d'une personne en utilisant un système de swipe comme sur TikTok.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="border-b">#}
{#                <button type="button" aria-label="Open item" title="Open item"#}
{#                        class="faq-button flex items-center justify-between w-full p-4 focus:outline-none">#}
{#                    <p class="text-lg font-medium">Quelle est votre politique en matière d'énergie ?</p>#}
{#                    <!-- Add "transform rotate-180" classes on svg, if is open" -->#}
{#                    <svg viewBox="0 0 24 24" class="w-3 text-gray-200 transition-transform duration-200">#}
{#                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"#}
{#                                  stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>#}
{#                    </svg>#}
{#                </button>#}
{#                <div class="faq-dropdown hidden p-4 pt-0">#}
{#                    <p class="text-gray-400">Nous utilisons uniquement de l'énergie renouvelable pour alimenter nos#}
{#                        serveurs et compensons les émissions de carbone liées à leur utilisation.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="border-b">#}
{#                <button type="button" aria-label="Open item" title="Open item"#}
{#                        class="faq-button flex items-center justify-between w-full p-4 focus:outline-none">#}
{#                    <p class="text-lg font-medium">Que faites-vous pour minimiser les déchets liés à l'hébergement ?</p>#}
{#                    <!-- Add "transform rotate-180" classes on svg, if is open" -->#}
{#                    <svg viewBox="0 0 24 24" class="w-3 text-gray-200 transition-transform duration-200">#}
{#                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"#}
{#                                  stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>#}
{#                    </svg>#}
{#                </button>#}
{#                <div class="faq-dropdown hidden p-4 pt-0">#}
{#                    <p class="text-gray-400">Nous utilisons des serveurs virtuels, recyclons tous les matériaux#}
{#                        d'emballage et utilisons des logiciels de gestion efficace pour minimiser les déchets#}
{#                        électroniques.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="border-b">#}
{#                <button type="button" aria-label="Open item" title="Open item"#}
{#                        class="faq-button flex items-center justify-between w-full p-4 focus:outline-none">#}
{#                    <p class="text-lg font-medium">Comment minimisez-vous l'impact environnemental de votre hébergement#}
{#                        ?</p>#}
{#                    <!-- Add "transform rotate-180" classes on svg, if is open" -->#}
{#                    <svg viewBox="0 0 24 24" class="w-3 text-gray-200 transition-transform duration-200">#}
{#                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"#}
{#                                  stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>#}
{#                    </svg>#}
{#                </button>#}
{#                <div class="faq-dropdown hidden p-4 pt-0">#}
{#                    <p class="text-gray-400">Nous utilisons des centres de données efficaces en énergie, minimisons les#}
{#                        déplacements pour les besoins de maintenance et utilisons des méthodes de refroidissement#}
{#                        écologiques pour les centres de données.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="border-b">#}
{#                <button type="button" aria-label="Open item" title="Open item"#}
{#                        class="faq-button flex items-center justify-between w-full p-4 focus:outline-none">#}
{#                    <p class="text-lg font-medium">Comment puis-je vous contacter si j'ai des questions ?</p>#}
{#                    <!-- Add "transform rotate-180" classes on svg, if is open" -->#}
{#                    <svg viewBox="0 0 24 24" class="w-3 text-gray-200 transition-transform duration-200">#}
{#                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"#}
{#                                  stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>#}
{#                    </svg>#}
{#                </button>#}
{#                <div class="faq-dropdown hidden p-4 pt-0">#}
{#                    <p class="text-gray-400">Vous pouvez nous contacter directement via notre formulaire de contact sur#}
{#                        notre site web ou via les réseaux sociaux.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section data-aos="fade-left"
             class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 text-gray-400">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Quelques SwipeUp</h2>
        </div>
        <div class="mt-20">
            <div class="relative">
                <div class="rounded-lg overflow-hidden">
                    <div class="m-auto relative"
                         style="width: calc(50%*8)">
                        <div class="flex w-full hover:pause mb-2 sm:mb-8 animate-scroll space-x-8 md:space-x-16 animation-duration-30 md:animation-duration-60">
                            {% for n in 1..2 %}
                                {% for key, swipe in swipes %}
                                    <div data-aos="fade-up"
                                         data-aos-delay="{{ 200*(key+1) }}"
                                         class="w-[100px] sm:w-[200px]">
                                        <a href="{{ path('app_swipe_single', {slug:swipe.slug}) }}"
                                           target="_blank"
                                           class="relative group"
                                           tabindex="-1">
                                            <img src="{{ swipe.swipe[0].image.src }}"
                                                 alt="{{ swipe.title }}"
                                                 class="px-0 rounded-lg"/>
                                            <div class="px-4 py-3 text-center w-full">
                                                <h3 class="truncate font-semibold text-indigo-700 group-hover:text-indigo-800 duration-100">
                                                    {{ swipe.title }}
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-aos="fade-right"
             class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 text-gray-400">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">SwipeUp en quelques chiffres</h2>
        </div>
        <div class="grid row-gap-8 sm:grid-cols-3">
            <div class="text-center">
                <span class="text-5xl font-bold text-swipe-400">5 054</span>
                <p class="font-bold">Swipe</p>
            </div>
            <div class="text-center">
                <span class="text-5xl font-bold text-swipe-400">421</span>
                <p class="font-bold">Sites</p>
            </div>
            <div class="text-center">
                <span class="text-5xl font-bold text-swipe-400">1 526</span>
                <p class="font-bold">Sections</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    <script>#}
{#        let faqButton = document.getElementsByClassName("faq-button");#}

{#        for (let i = 0; i < faqButton.length; i++) {#}
{#            faqButton[i].addEventListener("click", e => {#}
{#                let faqDropdown = faqButton[i].parentNode.getElementsByClassName("faq-dropdown")[0];#}
{#                faqDropdown.classList.toggle("hidden");#}
{#                faqButton[i].getElementsByTagName("svg")[0].classList.toggle("transform")#}
{#                faqButton[i].getElementsByTagName("svg")[0].classList.toggle("rotate-180")#}
{#            });#}
{#        }#}
{#    </script>#}
{% endblock %}