<div class="h-1/6 flex items-start justify-center relative"
     data-aos="zoom-in-up">
    {% if slide.button is defined %}
        <a href="{{ slide.button.href }}"
           class="rounded-full bg-swipe-500 bottom-8 py-4 px-8 shadow-lg shadow-swipe-500/50 {{ sc|default('max-w-xs') }}"
           style="--tw-shadow-color: {{ slide.button.colorType == "simple" ?
           slide.button.color :
           slide.button.color.from }}AA;
                   background:{% if slide.button.colorType == "simple" %}
                   {{ slide.button.color }}AA
               {% elseif slide.button.colorType == "gradient" %}
                       linear-gradient(to bottom right, {{ slide.button.color.from }}AA, {{ slide.button.color.to }}AA);
           {% endif %};
                   color:{{ slide.button.textColor is defined ? slide.button.textColor : '#ffffff' }}
                   ">
            {{ slide.button.text }}
        </a>
    {% endif %}
</div>
