{% if slide.button is defined %}
    <a href="{{ slide.button.href }}"
       target="_blank"
       class="left-1/2 transform -translate-x-1/2 rounded-lg bg-swipe-500 bottom-8 p-4 absolute max-w-xs w-full h-24 grid place-items-center shadow-lg shadow-swipe-500/50"
       style="--tw-shadow-color: {{ slide.button.colorType == "simple" ?
       slide.button.color :
       slide.button.color.from }}AA;
               background:{% if slide.button.colorType == "simple" %}
           {{ slide.button.color }}
       {% elseif slide.button.colorType == "gradient" %}
               linear-gradient(to bottom right, {{ slide.button.color.from }}, {{ slide.button.color.to }});
       {% endif %};
               color:{{ slide.button.textColor is defined ? slide.button.textColor : '#ffffff' }}
               ">
        Cliquez ici enfin bon
    </a>
{% else %}
    <span class="scroll-icon">
      <span class="scroll-icon__dot"></span>
    </span>
{% endif %}
