{% if slide.button is defined %}
    <a href="{{ slide.button.href }}"
       target="_blank"
       class="left-1/2 transform -translate-x-1/2 rounded-lg bg-swipe-500 bottom-8 p-4 absolute max-w-xs w-full h-24 grid place-items-center shadow-lg shadow-swipe-500/50"
       style="--tw-shadow-color: {{ slide.button.colorType == "simple" ?
       slide.button.color :
       slide.button.color.from }};
               background:{% if slide.button.colorType == "simple" %}
           {{ slide.button.color }}
       {% elseif slide.button.colorType == "gradient" %}
               linear-gradient(to bottom right, {{ slide.button.color.from }}, {{ slide.button.color.to }});
       {% endif %};">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-16 w-16"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"/>
        </svg>
    </a>
{% else %}
    <span class="scroll-icon">
      <span class="scroll-icon__dot"></span>
    </span>
{% endif %}
