<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SwipeUp | Tout ce dont vous avez besoin en un swipe !{% endblock %} • SwipeUp</title>

    {% block meta %}
        <meta name="title"
              content="{{ block('title') ~ ' • SwipeUp' }}">
        <meta name="description"
              content="{% block description %}La SEULE solution de création et de référencement de site web adapté à notre temps. Vous comprendre ne prendra que très peu de temps avec SwipeUp.{% endblock %}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:title"
              content="{{ block('title') ~ ' • SwipeUp' }}">
        <meta property="og:description"
              content="{{ block('description') ?: 'La SEULE solution de création et de référencement de site web adapté à notre temps. Vous comprendre ne prendra que très peu de temps avec SwipeUp. ' }}">
        <meta property="og:image"
              content="{{ app.request.schemeAndHttpHost }}{{ asset('seo_image.png') }}">

        <!-- Twitter -->
        <meta property="twitter:card"
              content="summary">
        <meta property="twitter:site"
              content="@SwipeUp.me">
        <meta property="twitter:title"
              content="{{ block('title') ~ ' • SwipeUp' }}">
        <meta property="twitter:description"
              content="{{ block('description') ?: 'La SEULE solution de création et de référencement de site web adapté à notre temps. Vous comprendre ne prendra que très peu de temps avec SwipeUp. ' }}">
        <meta property="twitter:image"
              content="{{ app.request.schemeAndHttpHost }}{{ asset('seo_image.png') }}">
    {% endblock %}

    <link rel="icon"
          href="{{ app.request.schemeAndHttpHost }}{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        {% block schema %}
            {{ include('_seo/_schema.html.twig', {
                subTitle: block('title'),
                description: block('description'),
            }) }}
        {% endblock %}

        {% block breadcrumb %}
            {{ include('_seo/_breadcrumb.html.twig', {
                subTitle: block('title'),
            }) }}
        {% endblock %}

        <script>
            document.addEventListener("mousemove", e => {
                cursorFollower.style.cssText = `display: block; transform: translate3d(${e.clientX - 150}px, ${e.clientY - 150}px, 0);`
            });
        </script>
    {% endblock %}
</head>
<body
        class="bg-black font-swipe overflow-x-hidden"
>
<div class="overflow-hidden inset-0 -z-50 fixed blur-[100px] select-none pointer-events-none">
    <div id="cursorFollower"
         class="w-[300px] h-[300px] -z-50 bg-swipe-100 absolute rounded-full opacity-40"
         style="display:none;">
    </div>
</div>
{% include '_includes/navbar.html.twig' %}
{% block body %}{% endblock %}
{% include '_includes/footer.html.twig' %}

</body>
</html>
