<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SwipeUp | Tout ce dont vous avez besoin en un swipe !{% endblock %} • SwipeUp</title>
    {% block meta %}
        <meta name="title"
              content="{{ block('title') ~ ' • SwipeUp' }}">
        <meta name="description"
              content="{% block description %}La SEULE solution de création et de référencement de site web adapté à notre temps. Vous comprendre ne prendra que très peu de temps avec SwipeUp.{% endblock %}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:title"
              content="{{ block('title') ~ ' • SwipeUp' }}">
        <meta property="og:description"
              content="{{ block('description') ?: 'La SEULE solution de création et de référencement de site web adapté à notre temps. Vous comprendre ne prendra que très peu de temps avec SwipeUp. ' }}">
        <meta property="og:image"
              content="{{ app.request.schemeAndHttpHost }}{{ asset('seo_image.png') }}">

        <!-- Twitter -->
        <meta property="twitter:card"
              content="summary">
        <meta property="twitter:site"
              content="@SwipeUp.me">
        <meta property="twitter:title"
              content="{{ block('title') ~ ' • SwipeUp' }}">
        <meta property="twitter:description"
              content="{{ block('description') ?: 'La SEULE solution de création et de référencement de site web adapté à notre temps. Vous comprendre ne prendra que très peu de temps avec SwipeUp. ' }}">
        <meta property="twitter:image"
              content="{{ app.request.schemeAndHttpHost }}{{ asset('seo_image.png') }}">
    {% endblock %}
    <link rel="icon"
          href="{{ app.request.schemeAndHttpHost }}{{ asset('favicon.ico') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
    {% block stylesheets %}
        {{ encore_entry_link_tags('swipe') }}
    {% endblock %}
</head>
<body class="bg-black font-swipe h-screen overflow-hidden">
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    {{ encore_entry_script_tags('swipe') }}
    <script>
        Fancybox.bind("[data-fancybox]", {
            // Your options go here
        });

        const swiper = new Swiper(".mySwiper", {
            direction: "vertical",
            slidesPerView: 1,
            spaceBetween: 0,
            mousewheel: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
        });

        const swiperHorizontal = new Swiper(".mySwiperHorizontal", {
        });
    </script>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMBTV6N0QS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TMBTV6N0QS');
    </script>

    <!-- Hotjar Tracking Code for SwipeUp -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3362111,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
{% endblock %}
</body>
</html>
