{% for swipe in swipes %}
    <div class="bg-white rounded-xl flex">
        <div class="flex items-center justify-center w-8 h-auto text-black">
            {{ heroicon('bars-4', 'solid', {
                'class': "fill-current w-5 h-5",
            }) }}
        </div>
        <div
                {{ stimulus_controller('swipe--edit', {
                    url: path('_api_swipe_edit', {id: swipe.id}),
                }) }}
                {{ stimulus_action('swipe--edit', 'revert', 'swipe--edit:swipe:edit@window') |
                stimulus_action('swipe--edit', 'revert', 'swipe-section:swipe:create@window') }}
                class="w-full"
        >
            <div class="flex-1 py-6 px-4 relative flex flex-col gap-y-4">
                <div>
                    {% if swipe.widgetBody %}
                        {{ include('_components/create/widgets.html.twig', {widget: swipe.widgetBody, widgetType: "Body"}) }}
                    {% endif %}
                </div>
                <div>
                    {% if swipe.widgetFooter %}
                        {{ include('_components/create/widgets.html.twig', {widget: swipe.widgetFooter, widgetType: "Footer"}) }}
                    {% endif %}
                </div>
            </div>
            <div class="flex gap-2 justify-end px-6 pb-3">
                <button
                        {{ stimulus_action('swipe--edit', 'getEditForm', 'click') }}
                        class="text-black"
                >
                    {{ heroicon('pencil', 'outline', {
                        class: "fill-transparent stroke-swipe-500 hover:stoke-swipe-700",
                        'stroke-width': 2,
                    }) }}
                </button>
                <form
                        {{ stimulus_controller('confirm-submit',  {
                            title: "Remove this item?",
                            icon: "warning",
                            confirmButtonText: "Yes, remove it",
                            submitAsync: true,
                        }) }}
                        {{ stimulus_action('confirm-submit', 'onSubmit') }}
                        action="{{ path('_api_swipe_delete', {id: swipe.id}) }}"
                        method="post"
                >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ swipe.id) }}">
                    <button>
                        {{ heroicon('trash', 'outline', {
                            class: "fill-transparent stroke-red-500 hover:stoke-red-700",
                            'stroke-width': 2,
                        }) }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}