{{ form_start(form, {
    'attr': {
        'action': path('_api_swipe_create'),
        'data-turbo':"false",
    }
}) }}
<div class="bg-white rounded-xl flex">
    <div class="flex items-center justify-center w-8 h-auto">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             fill="currentColor"
             class="w-4 h-4">
            <path fill-rule="evenodd"
                  d="M3 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 5.25zm0 4.5A.75.75 0 013.75 9h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 9.75zm0 4.5a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75zm0 4.5a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                  clip-rule="evenodd"/>
        </svg>
    </div>
    <div class="flex-1 py-6 px-4 relative flex flex-col gap-y-4">
        {{ form_widget(form.title) }}
        {{ form_widget(form.background) }}
        {{ form_widget(form.buttonText) }}
        {{ form_widget(form.buttonHref) }}
        <button class="bg-swipe-500 hover:bg-swipe-600 cursor-pointer w-full rounded-xl p-3 text-white text-xl">
            Ajouter un Swipe
        </button>
    </div>
</div>
{{ form_end(form) }}