<div
        {{ intro ? stimulus_controller('introjs', {
            dispatch: "_form:modal:finished"
        }) }}
        id="newSwipeForm"
        class="flex-1 py-6 px-4 relative flex flex-col gap-y-4"
>
    <div class="flex justify-end">
        <button
                {{ stimulus_action(stimulus_controller_name, stimulus_action_name ?? 'revert') }}
                class="inline-flex items-center gap-x text-sm font-medium text-gray-500 hover:text-gray-700"
        >
            {{ cancelText ?? "Annuler" }}
            {{ heroicon('x-mark', 'solid', {
                'class': 'w-6 h-6 fill-current cursor-pointer',
            }) }}
        </button>
    </div>
    {{ form_start(form, {
        'attr': {
            'class': "text-black w-full flex flex-col gap-y-4",
            action,
            'data-turbo':"false",
            ...stimulus_controller('swipe--form-action').toArray(),
            ...stimulus_action('swipe--form-action', 'submitForm', 'submit') | stimulus_action('swipe-section', 'revert', 'swipe--form-action:async:submitted@window').toArray(),
        }
    }) }}
    <div class="flex flex-row gap-x-4">
        <div class="w-full space-y-4">
            <div
                    {{ stimulus_target('introjs', 'element') }}
                    data-title="Zone de Contenu"
                    data-intro="La zone de contenu est la partie centrale de votre Swipe. C'est ici que vous allez pouvoir ajouter des éléments dynamiques."
                    data-step="1"
                    class="space-y-2"
            >
                <p class="text-xs text-gray-600 flex items-center gap-1">
                    Zone de Contenu
                    <span
                    {{ stimulus_controller('tippy', {
                        text: "La zone de contenu est la partie principale de votre Swipe",
                    }) }}
                    >{{ heroicon('information-circle', 'solid', {
                            'class': 'w-4 h-4 inline-block fill-current',
                        }) }}</span>
                </p>
                <div
                        {{ stimulus_controller('swipe-radio', {
                            classActive: 'text-swipe-800',
                            specificWidgetUrl: path('_api_widget_select', {intro}),
                            widgetType: 'widgetBody',
                        }) }}
                >
                    <div
                            {{ stimulus_target('swipe-radio', 'radio')
                            |stimulus_target('introjs', 'element') }}
                            data-title="Ajouter un élément"
                            data-intro="C'est la liste des éléments que vous pouvez ajouter dans votre Swipe."
                            data-step="4"
                    >
                        {{ form_widget(form.widgetBody) }}
                    </div>
                    <div
                            {{ stimulus_target('swipe-radio', 'specificWidget') }}
                    >
                        {% if form.widgetBodyData is defined %}
                            {{ include('_components/create/form/'~widgetBodyValue~'.html.twig', {
                                form,
                                widget: "widgetBody",
                            }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div
                    {{ stimulus_target('introjs', 'element') }}
                    data-title="Zone d'Action"
                    data-intro="La zone d'action est la partie qui permet d'interagir avec votre Swipe. C'est ici que vous allez pouvoir ajouter des éléments interactifs."
                    data-step="2"
                    class="space-y-2"
            >
                <p class="text-xs text-gray-600 flex items-center gap-1">
                    Zone d'Action
                    <span
                    {{ stimulus_controller('tippy', {
                        text: "La zone d'action est la partie qui permet d'interagir avec votre Swipe",
                    }) }}
                    >{{ heroicon('information-circle', 'solid', {
                            'class': 'w-4 h-4 inline-block fill-current',
                        }) }}</span>
                </p>
                <div
                        {{ stimulus_controller('swipe-radio', {
                            classActive: 'text-swipe-800',
                            specificWidgetUrl: path('_api_widget_select', {intro}),
                            widgetType: 'widgetFooter',
                        }) }}
                >
                    <div
                            {{ stimulus_target('swipe-radio', 'radio') }}
                    >
                        {{ form_widget(form.widgetFooter) }}
                    </div>
                    <div
                            {{ stimulus_target('swipe-radio', 'specificWidget') }}
                    >
                        {% if form.widgetFooterData is defined %}
                            {{ include('_components/create/form/'~widgetFooterValue~'.html.twig', {
                                form,
                                widget: "widgetFooter",
                            }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div
                {{ stimulus_controller('image4label', {
                    ratio: 9/16,
                    width: 1080,
                    height: 1920,
                }) }}
        >
            <label
                    {{ stimulus_target('introjs', 'element') }}
                    data-title="Fond du Swipe"
                    data-intro="Le fond est l'image qui sera affichée en arrière plan de votre Swipe. Cela peut être une image ou une vidéo."
                    data-step="3"
                    class="space-y-2"
            >
                <p class="text-xs text-gray-600 flex items-center justify-center gap-1">
                    Fond
                    <span
                    {{ stimulus_controller('tippy', {
                        text: "Le fond est l'image qui sera affichée en arrière plan de votre Swipe. Cela peut être une image ou une vidéo.",
                    }) }}
                    >{{ heroicon('information-circle', 'solid', {
                            'class': 'w-4 h-4 inline-block fill-current',
                        }) }}</span>
                </p>
                <div class="h-28 w-20 block relative group cursor-pointer bg-clip-border border-2 border-dashed border-swipe-500/50 rounded-xl">
                    <div class="absolute w-full h-full flex justify-center items-center group-hover:bg-swipe-500/50 duration-200 rounded-xl">
                        {{ heroicon('camera', 'solid', {
                            'class': 'fill-swipe-400/75 group-hover:fill-swipe-500 w-10 h-10 duration-200',
                        }) }}
                    </div>
                    <img
                            class="{{ background is null ? "hidden" }} rounded-xl w-full h-full object-cover cursor-pointer"
                            src="{{ background is not null ? vich_uploader_asset(background, background.thumbnailName ? 'thumbnailFile' : 'backgroundFile') }}"
                            alt=""
                            {{ stimulus_target('image4label', 'imagePreview') }}
                    >
                    {{ form_widget(form.background, {
                        attr: {
                            'data-image4label-target': 'fileInput',
                            'data-action': 'change->image4label#updateLabel cropper:crop:save:swipeBackground@window->image4label#updateInput:swipeBackground',
                            'data-image4label-type-param': 'swipeBackground',
                        }
                    }) }}
                </div>
            </label>
        </div>
    </div>
    <button
            {{ stimulus_target('swipe--form-action', 'button') }}
            class="bg-swipe-500 hover:bg-swipe-600 cursor-pointer w-full rounded-xl p-3 text-white text-xl"
    >
        {{ buttonText ?? "Ajouter un Swipe" }}
    </button>
    {{ form_end(form) }}
</div>