{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <section class="container mx-auto font-light sm:text-xl text-white body-font">
        <div class="mx-auto px-5 py-24 md:py-36">
            <div class="w-full space-y-16 max-w-4xl mx-auto">
                <h1 class="mx-auto text-4xl sm:text-5xl font-semibold lg:text-6xl text-center">
                    Créer votre propre SwipeUp en 2 clics !
                </h1>
                <div class="space-y-16 w-full md:w-4/5 mx-auto">
                    {{ form_start(form) }}
                    <div class="space-y-2">
                        <p class="sr-only">{{ form_label(form.slug) }}</p>
                        <div class="bg-white flex w-full relative py-4 px-3 rounded-xl">
                            <p class="text-gray-700">
                                swipeup.me/@
                            </p>
                            <p class="text-gray-600 w-full">
                                {{ form_widget(form.slug) }}
                            </p>
                        </div>
                        <div class="text-red-600">{{ form_errors(form.slug) }}</div>
                    </div>
                    <div class="w-full flex justify-center">
                        <button class="rounded-xl text-white bg-swipe-600 hover:bg-swipe-700 py-4 px-8 text-xl w-full">
                            Créer mon SwipeUp
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <turbo-frame
                    id="swipeup-exemples"
                    src="{{ path('app_homepage') }}"
            >
                Chargement...
            </turbo-frame>
        </div>
    </section>
{% endblock %}

