{% extends 'base.html.twig' %}

{% block title %}
    Modifier @{{ swipeup.slug }}
{% endblock %}

{% block body %}
    <main class="font-light body-font py-24 max-w-7xl mx-auto space-y-8 lg:space-y-12 px-4">
        {{ include('_includes/modal.html.twig', {
            dispatches: ["image4label:modal:open"],
        }) }}

        {{ form_start(form, {
            'attr': {
                'data-turbo':"false"
            }
        }) }}
        <div class="mx-auto max-w-screen-md text-center">
            <h1 class="sr-only">{{ swipeup.title }}</h1>
            <p class="sr-only">{{ form_label(form.title) }}</p>
            {{ form_widget(form.title, {
                attr: {
                    class: 'w-full mb-4 text-5xl tracking-tight font-extrabold text-white bg-transparent border-0 focus:outline-none border-l-2 focus:border-swipe-600 border-white focus:ring-0 text-center',
                }
            }) }}
            <div class="text-red-600 text-center">{{ form_errors(form.title) }}</div>

            <p class="sr-only">{{ form_label(form.description) }}</p>
            {{ form_widget(form.description, {
                attr: {
                    class: 'w-full mb-5 font-light sm:text-xl text-gray-400 bg-transparent border-0 focus:outline-none border-l-2 focus:border-swipe-600 border-white focus:ring-0 text-center',
                }
            }) }}
            <div class="text-red-600 text-center">{{ form_errors(form.description) }}</div>

            <div class="space-y-2">
                <p class="text-white">{{ form_label(form.status) }}</p>
                {{ form_widget(form.status) }}
                <div class="text-red-600">{{ form_errors(form.status) }}</div>
            </div>

            <div
                    {{ stimulus_controller('image4label') }}
                    class="space-y-2"
            >
                <label>
                    <img
                            class="border-4 border-dashed border-swipe-500/50 rounded-full w-48 h-48 object-contain bg-black cursor-pointer"
                            src=""
                            alt=""
                            {{ stimulus_target('image4label', 'imagePreview') }}
                    >
                    {{ form_widget(form.logoFile, {
                        attr: {
                            'data-image4label-target': 'fileInput',
                            'data-action': 'change->image4label#updateLabel cropper:crop:save@window->image4label#updateInput',
                        }
                    }) }}
                </label>
                <div class="text-red-600">{{ form_errors(form.logoFile) }}</div>
            </div>

            <div class="w-full flex justify-center gap-4 md:flex-row flex-col">
                <button class="rounded-xl text-white bg-swipe-500 hover:bg-swipe-600 py-4 px-8 text-xl">
                    Modifier mon SwipeUp
                </button>
                <a
                        href="{{ path('app_swipeup_single', {slug: swipeup.slug}) }}"
                        class="text-swipe-500 hover:text-swipe-600 py-4 px-8 text-xl"
                >
                    Aller voir mon SwipeUp
                </a>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="grid md:grid-cols-2 gap-8 relative">
            <div
                    class="space-y-8"
            >
                <div
                        {{ stimulus_controller('swipe-section', {
                            formUrl: path('_api_swipe_create', {swipeup: swipeup.slug}),
                        }) }}
                >
                    <button
                            {{ stimulus_action('swipe-section', 'addSwipe') }}
                            class="bg-swipe-500 hover:bg-swipe-600 cursor-pointer w-full rounded-xl p-3 text-white text-xl"
                    >
                        Ajouter un Swipe
                    </button>
                </div>
                <div
                        class="space-y-4"
                >
                    {% for swipe in swipeup.swipes %}
                        <div class="bg-white rounded-xl flex">
                            <div class="flex items-center justify-center w-8 h-auto">
                                {{ heroicon('bars-4', 'solid', {
                                    'class': "fill-current w-4 h-4",
                                }) }}
                            </div>
                            <div class="flex-1 py-6 px-4 relative flex flex-col gap-y-4 divide-y divide-gray-700">
                                <div>
                                    {% if swipe.widgetBody %}
                                        {{ include('_components/create/widgetBody.html.twig', {widgetBody: swipe.widgetBody}) }}
                                    {% endif %}
                                </div>
                                <div>
                                    {% if swipe.widgetFooter %}
                                        {{ include('_components/create/widgetFooter.html.twig', {widgetFooter: swipe.widgetFooter}) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="space-y-4 h-min top-24 sticky">
                <div class="text-lg space-y-8 lg:space-y-12">
                    <div class="space-y-4">

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

