{% extends 'admin.html.twig' %}

{% block title %}
    Modifier @{{ swipeup.slug }}
{% endblock %}

{% block body %}
    <main class="font-light body-font py-24 max-w-7xl mx-auto space-y-8 lg:space-y-12 px-4">
        <h1 class="sr-only">{{ swipeup.title }}</h1>

        {{ include('_includes/modal.html.twig', {
            dispatches: ["image4label:modal:open"],
            id: "backgroundSwipe"
        }) }}

        <div class="w-full flex justify-between">
            <a
                    href="{{ path('app_user_swipeup_settings', {slug: swipeup.slug}) }}"
                    class="text-right text-gray-500 hover:text-gray-400 text-xl flex gap-2 items-baseline"
            >
                <span class="self-center">
                    {{ heroicon('cog-6-tooth', 'solid', {
                        'class': 'fill-current stroke-none w-8 h-8',
                    }) }}
                </span>
                <span class="sr-only md:not-sr-only">Paramètres du SwipeUp</span>
            </a>
            <a
                    href="{{ path('app_swipeup_single', {slug: swipeup.slug}) }}"
                    class="text-right text-swipe-500 hover:text-swipe-600 text-xl flex gap-2 items-baseline"
            >
                    <span class="self-center">
                        {{ heroicon('link', 'outline', {
                            'class': 'fill-transparent stroke-current w-6 h-6',
                            'stroke-width': 2.5,
                        }) }}
                    </span>
                {{ url('app_swipeup_single', {slug: swipeup.slug}) }}
            </a>
        </div>

        <div class="grid md:grid-cols-2 gap-8 relative">
            <div
                    class="space-y-8"
            >
                <div
                        {{ stimulus_controller('swipe-section', {
                            formUrl: path('_api_swipe_create', {swipeup: swipeup.slug}),
                            handle: swipeup.swipes|length == 0,
                        }) }}
                        {{ stimulus_action('swipe-section', 'revert', 'swipe--edit:swipe:edit@window') }}
                >
                    <button
                            {{ stimulus_action('swipe-section', 'addSwipe') }}
                            class="bg-swipe-500 hover:bg-swipe-600 cursor-pointer w-full rounded-xl p-3 text-white text-xl flex gap-2 justify-center"
                    >
                        <span>Ajouter un Swipe</span>
                    </button>
                </div>
                <div
                        class="space-y-4 text-white"
                        {{ stimulus_controller('swipe--swipes', {
                            url: fragment_uri(controller('App\\Controller\\ApiController::getSwipes', {slug: swipeup.slug})),
                        })|stimulus_controller('sortable', {
                            'animation': 150,
                            'handle': '.handle',
                            'url': path('_api_swipe_sequence'),
                        }) }}
                        {{ stimulus_action('swipe--swipes', 'getSwipes', 'swipe--form-action:async:submitted@window') | stimulus_action('swipe--swipes', 'getSwipes', 'confirm-submit:async:submitted@window') }}
                >
                    {{ include('_components/create/_swipes.html.twig', {
                        swipes: swipeup.swipes
                    }) }}
                </div>
            </div>
            <div class="sticky top-24 justify-center hidden md:flex h-min">
                <div class="relative aspect-[366/729] z-10 mx-auto w-full max-w-[366px]">
                    <div class="absolute inset-y-[calc(1/729*100%)] left-[calc(7/729*100%)] right-[calc(5/729*100%)] rounded-[calc(58/366*100%)/calc(58/729*100%)] shadow-2xl"></div>
                    <div class="absolute left-[calc(23/366*100%)] top-[calc(23/729*100%)] grid h-[calc(686/729*100%)] w-[calc(318/366*100%)] transform overflow-hidden">
                        <div
                                {{ stimulus_controller('iframe', {
                                    link: path('app_swipeup_single', {slug: swipeup.slug, preview: true}),
                                }) }}
                                {{ stimulus_action('iframe', 'fetch', 'swipe--form-action:async:submitted@window') | stimulus_action('iframe', 'fetch', 'sortable:sortable:updated@window') | stimulus_action('iframe', 'fetch', 'confirm-submit:async:submitted@window') }}
                        >
                        </div>
                    </div>
                    <img alt="" loading="lazy" width="366" height="729"
                         class="pointer-events-none absolute inset-0 h-full w-full" style="color:transparent"
                         src="{{ asset('assets/images/phone-frame.svg') }}"></div>
            </div>
        </div>
    </main>
{% endblock %}

