{% extends 'admin.html.twig' %}

{% block title %}
    Modifier @{{ swipeup.slug }}
{% endblock %}

{% block body %}
    <main class="font-light body-font py-24 max-w-7xl mx-auto space-y-8 lg:space-y-12 px-4">
        <h1 class="sr-only">{{ swipeup.title }}</h1>

        {{ include('_includes/modal.html.twig', {
            dispatches: ["image4label:modal:open"],
        }) }}

        <div class="w-full flex justify-end">
            <a
                    href="{{ path('app_swipeup_single', {slug: swipeup.slug}) }}"
                    class="text-right text-swipe-500 hover:text-swipe-600 text-xl flex gap-2 items-baseline"
            >
                    <span class="self-center">
                        {{ heroicon('link', 'outline', {
                            'class': 'fill-transparent stroke-current w-6 h-6',
                            'stroke-width': 2.5,
                        }) }}
                    </span>
                {{ url('app_swipeup_single', {slug: swipeup.slug}) }}
            </a>
        </div>

        <div class="grid md:grid-cols-2 gap-8 relative">
            <div
                    class="space-y-8"
            >
                <div
                        {{ stimulus_controller('swipe-section', {
                            formUrl: path('_api_swipe_create', {swipeup: swipeup.slug}),
                        }) }}
                        {{ stimulus_action('swipe-section', 'revert', 'swipe--edit:swipe:edit@window') }}
                >
                    <button
                            {{ stimulus_action('swipe-section', 'addSwipe') }}
                            class="bg-swipe-500 hover:bg-swipe-600 cursor-pointer w-full rounded-xl p-3 text-white text-xl"
                    >
                        Ajouter un Swipe
                    </button>
                </div>
                <div
                        class="space-y-4 text-white"
                        {{ stimulus_controller('swipe--swipes', {
                            url: fragment_uri(controller('App\\Controller\\ApiController::getSwipes', {slug: swipeup.slug})),
                        }) }}
                        {{ stimulus_action('swipe--swipes', 'getSwipes', 'swipe--form-action:async:submitted@window') | stimulus_action('swipe--swipes', 'getSwipes', 'confirm-submit:async:submitted@window') }}
                >
                    {{ include('_components/create/_swipes.html.twig', {
                        swipes: swipeup.swipes
                    }) }}
                </div>
            </div>
            <div class="h-min">
                {{ form_start(form, {
                    'attr': {
                        'data-turbo':"false"
                    }
                }) }}
                <div class="space-y-4">
                    <div class="space-y-2">
                        <p class="text-white">{{ form_label(form.title) }}</p>
                        {{ form_widget(form.title, {
                            attr: {
                                class: 'w-full mb-4 text-5xl tracking-tight font-extrabold text-white bg-transparent border-0 focus:outline-none border-l-2 focus:border-swipe-600 border-white focus:ring-0 text-center',
                            }
                        }) }}
                        <div class="text-red-600 text-center">{{ form_errors(form.title) }}</div>
                    </div>

                    <div class="space-y-2">
                        <p class="text-white">{{ form_label(form.description) }}</p>
                        {{ form_widget(form.description, {
                            attr: {
                                class: 'w-full mb-5 font-light sm:text-xl text-gray-400 bg-transparent border-0 focus:outline-none border-l-2 focus:border-swipe-600 border-white focus:ring-0 text-center',
                            }
                        }) }}
                        <div class="text-red-600 text-center">{{ form_errors(form.description) }}</div>
                    </div>

                    <div class="space-y-2">
                        <p class="text-white">{{ form_label(form.status) }}</p>
                        {{ form_widget(form.status, {
                            attr: {
                                class: 'w-full mb-5 font-light sm:text-xl text-white bg-transparent border-0 focus:outline-none border-l-2 focus:border-swipe-600 border-white focus:ring-0 text-center',
                            }
                        }) }}
                        <div class="text-red-600">{{ form_errors(form.status) }}</div>
                    </div>

                    <div
                            {{ stimulus_controller('image4label') }}
                            class="space-y-2"
                    >
                        <p class="text-white">Logo du SwipeUp</p>
                        <label class="block w-36 h-36 relative group cursor-pointer">
                            <div class="absolute w-full h-full flex justify-center items-center group-hover:bg-swipe-500/50 duration-200 rounded-full">
                                {{ heroicon('camera', 'solid', {
                                    'class': 'fill-swipe-400/75 group-hover:fill-swipe-500 w-12 h-12 duration-200',
                                }) }}
                            </div>
                            <img
                                    class="rounded-full border-4 border-dashed border-swipe-500/50 object-contain hover:bg-swipe-500/50"
                                    src=""
                                    alt=""
                                    {{ stimulus_target('image4label', 'imagePreview') }}
                            >
                            {{ form_widget(form.logoFile, {
                                attr: {
                                    'data-image4label-target': 'fileInput',
                                    'data-action': 'change->image4label#updateLabel cropper:crop:save:swipeupLogo@window->image4label#updateInput',
                                    'data-image4label-type-param': 'swipeupLogo',
                                }
                            }) }}
                        </label>
                        <div class="text-red-600">{{ form_errors(form.logoFile) }}</div>
                    </div>
                    <button class="rounded-xl text-white bg-swipe-500 hover:bg-swipe-600 py-4 px-8 text-xl">
                        Modifier mon SwipeUp
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}

