{% extends 'swipe.html.twig' %}

{% block title %}{{ swipeup.title }}{% endblock %}

{% block meta %}
    <meta name="title"
          content="{{ swipeup.title }}">
    <meta name="description"
          content="{{ swipeup.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ swipeup.createdAt|date('c') }}">
    <meta property="article:modified_time" content="{{ swipeup.updatedAt|date('c') }}">
    <meta property="article:author" content="{{ swipeup.author }}">
    <meta property="article:section" content="SwipeUp">
    <meta property="og:title"
          content="{{ swipeup.title }}">
    <meta property="og:description"
          content="{{ swipeup.description }}">
    <meta property="og:image"
          content="{{ app.request.schemeAndHttpHost }}{{ vich_uploader_asset(swipeup, 'logoFile') }}">

    <!-- Twitter -->
    <meta property="twitter:card"
          content="summary">
    <meta property="twitter:site"
          content="@SwipeUp.me">
    <meta property="twitter:title"
          content="{{ swipeup.title }}">
    <meta property="twitter:description"
          content="{{ swipeup.description }}">
    <meta property="twitter:image"
          content="{{ app.request.schemeAndHttpHost }}{{ vich_uploader_asset(swipeup, 'logoFile') }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        {% if swipeup.font is not null %}
        @import url('https://fonts.googleapis.com/css2?family={{swipeup.font}}&display=swap');

        .mySwiper {
            font-family: '{{swipeup.font|replace(' ', '+')}}', 'Reem Kufi', sans-serif;
        }

        {% endif %}

        :root {
            --swiper-theme-color: {{ colors[3] }};
        }
    </style>
{% endblock %}

{% block body %}
    {% if not preview %}
        <span
            {{ stimulus_controller('analytics', {
                ga: swipeup.gaId,
                fb: swipeup.fbId,
            }) }}
    />
    {% endif %}
    <div id="app"
         class="h-full w-full"
         style="background-color: {{ colors[0] }}"
    >
        <div class="fixed left-0 right-0 spotlight opacity-25"
             style="background: linear-gradient(45deg, {{ colors[1] }}, {{ colors[3] }} 50%, {{ colors[2] }});"></div>
        <div class="{{ preview ? "h-[686px] w-full" : "h-full sm:aspect-[9/16]" }} mx-auto relative">
            <div
                    class="h-full w-full mySwiper swiper-container"
                    {{ stimulus_controller('swiper', {
                        isFeaturedSwipeUp: swipeup.isFeaturedSwipeUp,
                        analyticsUrl: path('_api_analytics_swipe_visit'),
                    }) }}
            >
                <div class="swiper-wrapper">
                    {% for key, swipe in swipeup.swipes %}
                        <div
                                class="swiper-slide"
                                data-swipe="{{ swipe.id }}"
                                data-analytics-csrf="{{ csrf_token('analytics' ~ swipe.id) }}"
                        >
                            {% if swipeup.isFeaturedSwipeUp and key == 1 %}
                                <div
                                        class="bg-white rounded-t-xl p-4 z-10 absolute w-full bottom-0 hidden space-y-3 overflow-hidden"
                                        {{ stimulus_target('swiper', 'newsletterPopup') }}
                                >
                                    <div class="flex items-end justify-end">
                                        <button
                                                class="relative inline-flex"
                                                {{ stimulus_action('swiper', 'closeNewsletterPopup') }}
                                        >
                                            {{ heroicon('x-mark', 'outline', {
                                                'class': "stroke-current w-5 h-5",
                                                'stroke-width': 2.5
                                            }) }}
                                        </button>
                                    </div>
                                    <div class="p-2 space-y-4 pb-8">
                                        <p class="text-center space-y-2">Pour créer votre propre SwipeUp, inscrivez-vous
                                            dès maintenant à SwipeUp !
                                            <span class="relative inline-flex">
                                                <span class="font-black inline-flex items-center px-4 py-2 leading-6 text-sm shadow rounded-md text-swipe-500 bg-white">
                                                    Attention, les places sont limitées !
                                                </span>
                                                <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
                                                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
                                                    <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
                                                </span>
                                            </span>
                                        </p>
                                        <div class="flex relative">
                                            <div class="animate-ping absolute block h-full w-full rounded-full bg-sky-400 opacity-75"></div>
                                            <a href="{{ path('app_register') }}"
                                               class="relative block rounded-lg bg-gradient-to-br from-swipe-400 to-swipe-900 py-3 px-2 text-white w-full text-center shadow-md">
                                                Rejoignez la bêta SwipeUp
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if swipe.background|get_mime_type('backgroundFile') == 'image' %}
                                {{ include('_composants/swipe.image.html.twig', {
                                    swipeup: swipeup,
                                    swipe: swipe,
                                    preview: preview
                                }) }}
                            {% elseif swipe.background|get_mime_type('backgroundFile') == 'video' %}
                                {{ include('_composants/swipe.video.html.twig', {
                                    swipeup: swipeup,
                                    swipe: swipe,
                                    preview: preview
                                }) }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="swiper-slide">
                        <div class="{{ preview ? "h-[686px]" : "h-[100dvh]" }} w-full relative text-center text-lg pt-8 space-y-4 {{ lightText ? 'text-white' : 'text-black' }}">
                            <div class="space-y-2">
                                {{ include('_components/_swipe.logo.html.twig') }}
                                <h2 class="font-black text-xl">@{{ swipeup.slug }}</h2>
                                <p class="{{ lightText ? 'text-gray-300' : 'text-gray-700' }} font-semibold text-base">{{ swipeup.description }}</p>
                            </div>
                            <div class="block space-y-4 w-full p-4">
                                {% for key, swipe in swipeup.swipes %}
                                    {% if swipe.widgetFooter and swipe.widgetFooter.widget.name == "button" %}
                                        {% set text = "Loading..." %}
                                        {% set href = "#" %}

                                        {% for widgetData in swipe.widgetFooter.widgetData %}
                                            {% if widgetData.dataName == "text" %}
                                                {% set text = widgetData.dataValue %}
                                            {% elseif widgetData.dataName == "href" %}
                                                {% set href = widgetData.dataValue %}
                                            {% endif %}
                                        {% endfor %}

                                        <div class="h-1/6 flex items-start justify-center relative">
                                            <a href="{{ href }}"
                                               class="{{ lightText ? 'bg-white/5 border-white text-white shadow-white/10' : 'bg-black/5 border-black text-black shadow-black/10' }} rounded-full border bottom-8 py-4 px-8 w-full shadow-lg hover:scale-105 duration-100">
                                                {{ text }}
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if swipe.widgetFooter and swipe.widgetFooter.widget.name == "email" %}
                                        {% set text = "Loading..." %}
                                        {% set href = "#" %}

                                        {% for widgetData in swipe.widgetFooter.widgetData %}
                                            {% if widgetData.dataName == "text" %}
                                                {% set text = widgetData.dataValue %}
                                            {% elseif widgetData.dataName == "href" %}
                                                {% set href = widgetData.dataValue %}
                                            {% endif %}
                                        {% endfor %}

                                        <div class="h-1/6 flex items-start justify-center relative">
                                            <a href="mailto:{{ href }}"
                                               class="{{ lightText ? 'bg-white/5 border-white text-white shadow-white/10' : 'bg-black/5 border-black text-black shadow-black/10' }} rounded-full border bottom-8 py-4 px-8 w-full shadow-lg hover:scale-105 duration-100">
                                                {{ text }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="absolute bottom-0 left-0 w-full p-8 inline-flex gap-x-2 justify-center items-center bg-gradient-to-b from-transparent {{ not lightText ? 'via-black/20 to-black/20' }}">
                                <p class="self-center font-black text-lg">Créé avec</p>
                                <a href="{{ path('app_homepage') }}" class="flex items-center">
                                    <img src="{{ asset('swipeup.png') }}" class="mr-3 h-6" alt="Logo de SwipeUp">
                                    <span class="sr-only">SwipeUp</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"
                     data-swiper-target="pagination"
                ></div>
            </div>
        </div>
    </div>
{% endblock %}