{% extends 'swipe.html.twig' %}

{% block title %}WYSSBARBER
{% endblock %}

{% block body %}
	<div id="app" class="md:flex h-full">
		<div class="md:w-3/4 w-2/4 hidden md:block bg-slate-900">
			<div class="grid place-items-center h-screen">

				<img src="{{ asset('assets/images/sobella.png') }}" alt=""
                     class="aos-init aos-animate max-w-sm h-16"
                     data-aos="zoom-in">
            </div>

			</div>
			<div class="fixed left-0 right-0 spotlight opacity-25"></div>
		</div>
		<div class="md:w-2/4 xl:w-1/4 mx-auto md:mx-0 h-full">
			<div class="h-full w-full mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="h-full w-full relative text-center text-lg">

							<video controls autoplay loop muted class="absolute z-10 inset-0 w-full h-full">
								<source src="{{ asset('assets/videos/wyssbarber1.mp4') }}" type="video/mp4">
							</video>

							<div class="p-8 relative flex justify-center items-center h-full w-full">
								<div class="grid place-items-center h-full">
									<h1 class="relative z-30 p-5 top-64 text-xl text-white bg-black w-screen bg-opacity-50">
										BIENVENUE CHEZ WYSSBARBER
									</h1>
								</div>
								<div class="scroll-icon"></div>
							</div>
						</div>
					</div>

                    <div class="swiper-slide">
						<div class="h-full w-full relative text-center text-lg">

							<video controls autoplay loop muted class="absolute z-10 inset-0 w-full h-full">
								<source src="{{ asset('assets/videos/wyssbarber2.mp4') }}" type="video/mp4">
							</video>

							<div class="p-8 relative flex justify-center items-center h-full w-full">
								<div class="grid place-items-center h-full">
									<h1 class="relative z-30 p-5 top-64 text-lg text-white bg-black w-screen bg-opacity-50">
										BESOIN D'UN RAFRAICHISSEMENT CAPILLAIRE ?
									</h1>
								</div>
								<div class="scroll-icon"></div>
							</div>
						</div>
					</div>

                    <div class="swiper-slide">
						<div class="h-full w-full relative text-center text-lg">

							<video controls autoplay loop muted class="absolute z-10 inset-0 w-full h-full">
								<source src="{{ asset('assets/videos/wyssbarber3.mp4') }}" type="video/mp4">
							</video>

							<div class="p-8 relative flex justify-center items-center h-full w-full">
								<div class="grid place-items-center h-full">
									<h1 class="relative z-30 p-5 top-64 text-xl text-white bg-black w-screen bg-opacity-50">
									<a href="https://calendly.com/rdv_projet/private/"> PRENEZ RENDEZ-VOUS EN LIGNE </a>	
									</h1>
								</div>
								<div class="scroll-icon"></div>
							</div>
						</div>
					</div>

                    
                    <div class="swiper-slide">
						<div class="h-full w-full relative text-center text-lg">

							<video controls autoplay loop muted class="absolute z-10 inset-0 w-full h-full">
								<source src="{{ asset('assets/videos/wyssbarber4.mp4') }}" type="video/mp4">
							</video>

							<div class="p-8 relative flex justify-center items-center h-full w-full">
								<div class="grid place-items-center h-full">
									<h1 class="relative z-30 p-5 top-64 text-xl text-white bg-black w-screen bg-opacity-50">
									<a href="https://www.google.com/maps/place/Onlineformapro/@45.7684278,4.8593306,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ebe52d10205d:0x70d9a5425c8297f9!8m2!3d45.7684278!4d4.8615193"> OÙ RENDEZ-VOUS DIRECTEMENT AU SALON </a>	
									</h1>
								</div>
								<div class="scroll-icon"></div>
							</div>
						</div>
					</div>

                     <div class="swiper-slide">
						<div class="h-full w-full relative text-center text-lg">

							<video controls autoplay loop muted class="absolute z-10 inset-0 w-full h-full">
								<source src="{{ asset('assets/videos/wyssbarber5.mp4') }}" type="video/mp4">
							</video>

							<div class="p-8 relative flex justify-center items-center h-full w-full">
								<div class="grid place-items-center h-full">
									<h1 class="relative z-30 p-5 top-64 text-xl text-white bg-black w-screen bg-opacity-50">
									<a href="https://www.instagram.com/wyssual/"> RETROUVEZ NOUS SUR INSTAGRAM </a>	
									</h1>
								</div>
								<div class="scroll-icon"></div>
							</div>
						</div>
					</div>

					
		
		
	</div>
</div>
</div>
</div>
<div class="swiper-pagination">
</div></div></div></div>{% endblock %}
