{% extends 'base.html.twig' %}

{% block title %}
    Créer votre SwipeUp
{% endblock %}

{% block body %}
    {{ include('_includes/modal.html.twig', {
        dispatches: ["image4label:modal:open"],
        id: "logo" ~ swipeup.id,
    }) }}

    <div class="flex max-h-dvh">
        <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24 rounded-r-3xl z-0 bg-black relative lg:overflow-y-auto lg:overflow-x-hidden">
            <div class="mx-auto w-full lg:w-[30rem] relative h-full pt-24 pb-12 flex flex-col gap-16 justify-between">
                <div class="opacity-75 absolute inset-0 -z-[1] overflow-hidden blur-[100px] select-none pointer-events-none">
                    <div class="top-2/5 left-3/5 w-[700px] h-[700px] -z-[2] bg-swipe-100 absolute rounded-full opacity-60 ease-gradient animate-gradient-1"></div>
                    <div class="top-3/5 left-2/5 w-[600px] h-[600px] -z-[1] bg-swipe-500 absolute rounded-full opacity-60 ease-gradient animate-gradient-2"></div>
                    <div class="top-1/2 left-1/2 w-[500px] h-[500px] -z-[3] bg-swipe-900 absolute rounded-full opacity-60 ease-gradient animate-gradient-3"></div>
                </div>
                <div class="space-y-4">
                    <h1 class="text-3xl sm:text-4xl font-bold tracking-tight text-white">
                        Créez votre première section !
                    </h1>
                    <p class="text-lg tracking-tight text-gray-300">
                        Finalisez la création de votre SwipeUp en y ajoutant un lien.
                    </p>
                </div>
                {{ form_start(form, {
                    'attr': {
                        'class': 'flex flex-wrap gap-4 items-center',
                    },
                }) }}
                <div class="space-y-2 w-full">
                    {{ form_label(form.text, null, {
                        'label_attr': {
                            'class': 'text-lg text-white text-left font-bold'
                        },
                    }) }}
                    <div class="w-full border border-neutral-700 rounded-2xl">
                        <div class="bg-transparent flex rounded-2xl max-w-screen-sm relative py-4 px-3 text-lg text-gray-200 border-4 border-transparent">
                            {{ form_widget(form.text, {
                                'attr': {
                                    'class': 'bg-transparent text-lg border-none focus:ring-0 focus:outline-none w-full overflow-x-hidden p-0 m-0 placeholder-gray-400',
                                    'value': '',
                                    'placeholder': 'Texte du bouton',
                                },
                            }) }}
                        </div>
                    </div>
                    <div class="text-red-600">{{ form_errors(form.text) }}</div>
                </div>

                <div class="space-y-2 w-full">
                    {{ form_label(form.link, null, {
                        'label_attr': {
                            'class': 'text-lg text-white text-left font-bold'
                        },
                    }) }}
                    <div class="w-full border border-neutral-700 rounded-2xl">
                        <div class="bg-transparent flex rounded-2xl max-w-screen-sm relative py-4 px-3 text-lg text-gray-200 border-4 border-transparent">
                            {{ form_widget(form.link, {
                                'attr': {
                                    'class': 'bg-transparent text-lg border-none focus:ring-0 focus:outline-none w-full overflow-x-hidden p-0 m-0 placeholder-gray-400',
                                    'value': '',
                                    'placeholder': 'Lien du bouton',
                                },
                            }) }}
                        </div>
                    </div>
                    <div class="text-red-600">{{ form_errors(form.link) }}</div>
                </div>

                <div
                        {{ stimulus_controller('image4label', {
                            ratio: 9/16,
                            width: 1080,
                            height: 1920,
                        }) }}
                        class="h-min min-w-[5rem]"
                >
                    <label
                            {{ stimulus_target('introjs', 'element') }}
                            data-title="Fond du Swipe"
                            data-intro="Le fond est l'image qui sera affichée en arrière plan de votre Swipe. Cela peut être une image ou une vidéo."
                            data-step="3"
                            class="space-y-2"
                    >
                        <p class="text-lg text-white text-left font-bold">
                            Fond de la section
                        </p>
                        <div class="h-28 w-20 block relative group cursor-pointer bg-clip-border border-2 border-dashed border-swipe-500/50 rounded-xl">
                            <div class="absolute w-full h-full flex justify-center items-center group-hover:bg-swipe-500/50 duration-200 rounded-xl">
                                {{ heroicon('camera', 'solid', {
                                    'class': 'fill-swipe-400/75 group-hover:fill-swipe-500 w-10 h-10 duration-200',
                                }) }}
                            </div>
                            <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Blank1x1.svg"
                                    class="rounded-xl w-full h-full object-cover cursor-pointer"
                                    alt=""
                                    {{ stimulus_target('image4label', 'imagePreview') }}
                            >
                            {{ form_widget(form.background, {
                                attr: {
                                    'data-image4label-target': 'fileInput',
                                    'data-action': 'change->image4label#updateLabel cropper:crop:save:swipeBackground@window->image4label#updateInput:swipeBackground',
                                    'data-image4label-type-param': 'swipeBackground',
                                }
                            }) }}
                        </div>
                    </label>
                </div>

                <button type="submit"
                        class="inline-block w-full text-center text-white bg-gradient-to-bl from-swipe-500 to-swipe-600 hover:from-swipe-600 hover:to-swipe-700 focus:from-swipe-700 focus:to-swipe-800 border-0 py-4 px-6 focus:outline-none rounded-lg text-lg">
                    Continuer
                </button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="relative hidden w-0 flex-1 lg:block -ml-8 -z-[3]">
            <img class="absolute inset-0 h-full w-full object-cover"
                 src="{{ asset('assets/images/swipeup_background.webp') }}"
                 alt="Image avec différents SwipeUp">
        </div>
    </div>
{% endblock %}

