{% set text = "" %}

{% for data in widgetData %}
    {% if data.dataName == "text" %}
        {% set text = data.dataValue %}
    {% endif %}
{% endfor %}

{{ include('_includes/modal.html.twig', {
    dispatches: ['fetch:newsletter-' ~ widgetSwipe.id],
    id: "newsletter-" ~ widgetSwipe.id,
}) }}

<div class="space-y-2">
    <p class="text-xs text-gray-600">{{ widgetType }} : Widget Newsletter</p>
    <div class="text-xl text-gray-800">
        <p><span class="font-bold">Titre : </span>{{ text }}</p>
        <a
                {{ stimulus_controller('fetch', {
                    'dispatch': 'newsletter-' ~ widgetSwipe.id,
                }) }}
                {{ stimulus_action('fetch', 'toggle') }}
                href="{{ path('_api_newsletter_get', {'id': widgetSwipe.id}) }}"
                class="text-base text-swipe-500 hover:text-swipe-600 focus:text-swipe-700 flex flex-wrap gap-1">
            Voir les emails récoltés
            {{ heroicon('chevron-down', 'outline', {
                'class': 'w-5 h-5 fill-transparent stroke-current self-center',
                'stroke-width': 2,
            }) }}
        </a>
    </div>
</div>